#breadcrumbs {
    line-height: 1.5rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 2em;
    z-index: 999;
}
#breadcrumbs span {
    display: inline-block;
    padding: 0rem;
}
#breadcrumbs i {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 1em 0; }


ul.archives li a {border: none;}

.archive_date { margin-left: 0.5em; }

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.author a {
    border-bottom: none !important;
}
.modular-content {

    padding-bottom: 0em !important;
}

.sidebar_subtitle {
    color: #f35858;
    font-weight: 500;
}

header.blog-list {
    margin-bottom: 0.5em;

}
.search-row {
    display: flex;
    align-items: center;
    
}
.search-image img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0 100%;
}
@media only all and (max-width: 47.938em) {
    .search-image img {
      display: none; } }
.search-item {
	margin-left: 30px;
	margin-bottom: 50px;
}
