{% extends 'partials/base.html.twig' %}

{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(false) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}
{% set taxonomy_background_color = header_var('taxonomy_background_color', [page, blog]) %}
{% set taxonomy_font_color = header_var('taxonomy_font_color', [page, blog]) %}
{% set collection = page.collection() %}
{# Set page title by taxonomy #}
{% if uri.param('category') %}
  {% set listing_title = 'TELEPHASIC.BLOG.LISTING_TITLE_CATEGORY'|t ~ uri.param('category') %}
{% elseif uri.param('tag') %}
  {% set listing_title = 'TELEPHASIC.BLOG.LISTING_TITLE_TAG'|t ~ uri.param('tag') %}
{% elseif uri.param('author') %}
  {% set listing_title = 'TELEPHASIC.BLOG.LISTING_TITLE_AUTHOR'|t ~ uri.param('author') %}
{% elseif uri.param('archives_month') %}
    {% set listing_title = 'TELEPHASIC.BLOG.LISTING_TITLE_MONTH'|t ~ uri.param('archives_month')|replace({'_': ' '}) %}
{% else %}
    {% set listing_title = page.header.subtitle|raw %}
{% endif %}
  
  {% block content %}
    <div class="wrapper">
        <section class="container">

        <header class="blog-heading">
          <h1 itemprop="headline">{{ title }}</h1>
          {% if listing_title %}
            <p class="subtitle">{{ listing_title|raw }}</p>
          {% endif %}
          {{ page.content|raw }}
        </header>

          
          {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
              {% include 'partials/breadcrumbs.html.twig' %}
          {% endif %}
          
          <div class="row features">
          
          {% embed 'partials/layout.html.twig' %}

              {% block item %}
                
                {% for child in collection %}
                  {% include 'partials/blog_list.html.twig' with {blog: page, page: child} %}
                {% endfor %}
                {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                    <div>
                      {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                    </div>
                {% endif %}
            {% endblock %}

            {% block sidebar %}
                {% include 'partials/sidebar.html.twig' with {'taxonomy_background_color': taxonomy_background_color, 'taxonomy_font_color': taxonomy_font_color} %}
            {% endblock %}

          {% endembed %}
          </div>

        </section>
    </div>
  {% endblock %}
