{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="page-wrapper">
<div class="wrapper">
<div class="container" id="main">
      <header>
      <h2>Error {{ page.header.http_response_code }}</h2>
    </header>

    {{ page.content|raw }}
</div>
</div>
</div>

{% endblock %}

