{% extends 'partials/base.html.twig' %}
    
{% set modules = page.collection() %}

{% block content %}
    
    {% if page.content is not empty or page_subtitle is not empty %}
        <div class="wrapper modular-content">

        <div class="container">
            {% if page_subtitle %}
                <header>
                    <h2>{{ page_subtitle|raw }}</h2>
                </header>
            {% endif %}

            {{ primaryImage.loading('lazy').attribute('decoding', 'async').attribute('itemprop', 'image').html(page_title|raw, page_title|raw, 'image featured')|raw }}
            
            {{ page.content|raw }}
        </div>

        </div>
    {% endif %}

    {% for module in modules %}
        {{ module.content|raw }}
    {% endfor %}


{% endblock %}

