{% extends 'partials/base.html.twig' %}
    
{% set modules = page.collection() %}

{% block content %}
    
    {% if page.content is not empty or page_subtitle is not empty %}
        <div class="wrapper modular-content">

        <div class="container">
            {% if page_subtitle %}
                <header>
                    <h2>{{ page_subtitle|striptags|e }}</h2>
                </header>
            {% endif %}
            {% if primaryImage is defined and primaryImage %}
                {{ primaryImage
                    .loading('lazy')
                    .decoding('async')
                    .attribute('itemprop', 'image')
                    .html(page_title, page_title, 'image featured')|raw }}
            {% endif %}
            {{ page.content|raw }}
        </div>

        </div>
    {% endif %}
{% if modules is defined and modules|length > 0 %}
    {% for module in modules %}
        {{ module.content|raw }}
    {% endfor %}
{% endif %}

{% endblock %}

